*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

.net-logo{
    padding: 20px;
    padding-left: 50px;
}

.profile{
    padding-left: 600px;
    padding-top: 100px;
}

.profile p{
    font-size: 24px;
    padding-bottom: 60px;
}

a:link{
    text-decoration: none;
}
